# Python
.venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/
build/
.next/
.env
.env.local

# Backend data
storage/uploads/
storage/applications.xlsx
backend/newsletter_subscribers.xlsx
backend/uploads/

# OS
.DS_Store
Thumbs.db
